@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}

body {
  margin: 0px;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px #00000033;
}

.icon {
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

input,
button,
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px #00000033;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}
